<html>

<head>

    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link href="https://jhs512.github.io/toastr/toastr.css" rel="stylesheet">

    <script>
    toastr.options = {
      closeButton: true,
      debug: false,
      newestOnTop: true,
      progressBar: true,
      positionClass: "toast-top-right",
      preventDuplicates: false,
      onclick: null,
      showDuration: "300",
      hideDuration: "1000",
      timeOut: "5000",
      extendedTimeOut: "1000",
      showEasing: "swing",
      hideEasing: "linear",
      showMethod: "fadeIn",
      hideMethod: "fadeOut"
    };

    function toastNotice(msg) {
      toastr["success"](msg, "알림");
    }

    function toastWarning(msg) {
      toastr["warning"](msg, "알림");
    }













    </script>

    <style>
    @font-face {
      font-family: 'GmarketSansMedium';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    html > body {
      font-family: "GmarketSansMedium";
      text-underline-position: under;
    }




    </style>

</head>

<body>

<link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
<script src="https://cdn.tailwindcss.com"></script>

<header>
    <a class="btn btn-link" href="/member/login" sec:authorize="isAnonymous()">로그인</a>
    <a class="btn btn-link" href="/member/join" sec:authorize="isAnonymous()">회원가입</a>
    <a class="btn btn-link" href="javascript:;" onclick="$(this).next().submit();" sec:authorize="isAuthenticated()">로그아웃</a>
    <form method="POST" th:action="|/member/logout|"></form>
</header>


<main layout:fragment="main"></main>

</body>

</html>
